html {
  font-size: 18px;
}

h1.display-1 {
  font-size: 3rem;
}
h2.display-4 {
  font-size: 1.8rem;
}

h3.question {
  font-size: 1rem;
  font-weight: 600;
}

section {
  background-color: rgb(245, 245, 245);
}

.checkBoxLabel {
  font-size: 1.125rem;
  font-weight: 400;
}
